.login-container {
  width: 450px;
  height: 500px;
  padding: 16px;
  margin: 10px auto;
  background: whitesmoke;
  border: 1px solid #ccc;
  align-items: right;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  
}

 .login-container h1 {
  text-align: center;
  font: 500;
  margin-bottom: 24px;
 }
 
 .login-container label {
  display: block;
  margin-bottom: 10px;
 }
 
 .login-container input {
  width: 80%;
  padding: 20px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  align-content: center;
 }
 
 .login-container select {
  width: 60%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  justify-content: center;
 }
 
 
 .login-container button {
  
  padding: 16px;
  margin-top: 16px;
  justify-content: space-between;
  font-size: 20px;
  background-color: #007bff;
  color: white;
  border-radius: 10px;;
  cursor: pointer;
  text-decoration: none;
 }
 .login-container .button{
  display: flex;
  justify-content: space-between;
 }
 .login-container .box  {
  font-size: 18px;
 }
 .login-container .ac{
  text-decoration: none;
  color: darkblue;
  font-size: 18px;
 }
 .login-container .login{
  width: 60%;
 }
 .login-container .button {
justify-content: space-between;  
 }
 
 .login-container button:hover {
  background-color: darkblue;
 }
 .two-col{
  display: flex;
  justify-content: left;
  color: #be6d6d;
  font-size: small;
  margin-top: 25px;
}
.two-col{
  display: flex;
  
}
.two-col label a{
  text-decoration: none;
  color: #a72020;
}
.two label a:hover{
  text-decoration: underline;
}
