/* TablePage.css */

.TablePageContainer {
  padding: 0px;
  margin: 0%;
  font-family: Helvetica;
}

.TablePage {
  max-width: 80%;
  margin: 0 auto;
}

.TablePage table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.TablePage th, .TablePage td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.TablePage th {
  background-color: #f2f2f2;
}

.TablePage button {
  margin-right: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 15px;
}
thead{
  font-size: large;
}
.link{
  text-decoration: none;
  color: #f2f2f2;

}

/* Add more styles as needed */
